$mobile-width-only: 320px;
$tablet-width: 767px;
$desktop-width: 1439px;


$main-font: "inter", "Arial", sans-serif;
$Lato-font: "Lato", "Oswald", sans-serif;

$white-colow: #ffffff;
$black: #000000;
$AquaSqueeze: #e6eff5;
$lightblue: #8ba3cb;
$herbalgreen: #68b738;
$ediumlightGray: #b1b1b1;
$Persianblue: #1814f3;
$LightblueGray: #718ebf;
$Smokywhite: #f4f5f7;
